doctype html 
html 
    head 
        title PURU DANCE WEBSITE
        block scripts 
        block style 
    body
        nav#navbar 
            ul 
                div#logo 
                    img(src="/static/logo.png.png", alt="logo image")
                    | PDA 
                li #[a(href="/") HOME] 
                li #[a(href="/") ABOUT US] 
                li #[a(href="/") SERVICES] 
                li #[a(href="/contact") CONTACT US] 
        block content 
        footer#footer 
            | Copyright 2021 PuruDanceAcademy.com | All rights reserved       
    
